## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
!*.lock.json

## IDE
.vs/
.vscode/
.idea/
*.swp
*~

## OS
.DS_Store
Thumbs.db
*.Zone.Identifier
*:Zone.Identifier

## Build outputs
publish/
logs/
